.thinboxContent { display: none; }
.thinboxModalContent { border: 6px solid #383838; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background: #fff; overflow: auto; -moz-box-shadow: 0 0 65px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.5); }
.thinboxModalContent .container { padding: 14px; }
* html #thinboxModalBG { position: absolute !important; }